
body{
	background-color: black;
	color: white;
}


nav{

	background-color: black;
	color: aqua;

}
#mapid{
	height: 80vh;
}

.bg-color-dark{

background-color: black;
text-decoration-color: white;

}





